

<header class="main-header" app-appheader>
</header>

<aside class="main-sidebar" app-sidebar>
</aside>

<div class="content-wrapper" app-content-wrapper>
</div>

<footer class="main-footer" app-footer>
</footer>

<aside class="control-sidebar control-sidebar-dark"  style="display: none;" app-control-sidebar>

</aside>
    
<!--
<app-appheader></app-appheader>
<app-sidebar></app-sidebar>
<app-content-wrapper></app-content-wrapper>
<app-footer></app-footer>
<app-control-sidebar></app-control-sidebar>
-->
